& {
  background: url('/www.aidans.computer/assets/images/aidan.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  z-index: -1;
  opacity: .3;
}
