& {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > header, > footer {
    flex: 0;
  }

  > main {
    flex: 1;
  }
}

> main {
  padding-top: 2rem;
  padding-bottom: 2rem;

  > header {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}
