> main > section {
  > article {
    > * {
      padding: 1rem 2rem;
      margin-bottom: 0;

      &:not(h1, h2, pre) {
        background: rgba(255,255,255,0.8);
      }

      + h1, + h2 {
        margin-top: 2rem;
      }
    }

    > h1, > h2 {
      padding: 0;
      margin-bottom: .5rem;

      + h1, + h2 {
        margin-top: initial;
      }
    }

    > pre {
      background: theme-color(dark);
      color: #839496;
    }

    > table {
      width: 100%;

      td, th {
        padding: .5rem 1rem;
        border-right: 1px solid black;

        &:last-child {
          border-right: none;
        }
      }

      > tbody > tr:nth-of-type(odd) {
        background: lightgrey;
      }
    }
  }

  + section {
    margin-top: 2rem;
  }
}
