nav {
  width: 100%;
  height: 3rem;
  transition: transform .5s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;

  background: $color-medium-turquoise;
  color: white;
  text-transform: uppercase;

  &.hidden {
    transform: translateY(-100%);
  }

  #banner {
    background: $color-dark-slate-grey;
  }

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    background: inherit;

    display: flex;
    justify-content: space-evenly;

    list-style: none;
  }

  li {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    background: inherit;
    transition: background linear 0.1s;

    > ul {
      display: none;
      transition: display linear 0.1s;
    }

    + li {
      border-left: 1px solid white;
    }

    &:hover {
      background: darken($color-medium-turquoise, 10%);
      cursor: pointer;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: lightgrey;
    }
  }
}
